@mixin gold-border {
    /* prettier-ignore */
    box-shadow:
        0 0 0 1px #9f725b,
        0 0 0 2px #e9d7a1,
        0 0 0 3px #956d58;
}

@mixin inset-gold-border {
    border: none;
    /* prettier-ignore */
    box-shadow:
        inset 0 0 0 1px #9f725b,
        inset 0 0 0 2px #e9d7a1,
        inset 0 0 0 3px #956d58;
}

@mixin brown-border {
    border: none;
    /* prettier-ignore */
    box-shadow:
        0 0 0 1px #918c88,
        0 0 0 2px #e1d8cf,
        0 0 0 3px #a98f39,
        inset 0 0 8px rgba(0,0,0,0.5),
        0 0 8px black;
}

@mixin input-border {
    border: 1px solid #956d58;
    /* prettier-ignore */
    box-shadow:
        0 0 0 1px rgba(0, 0, 0, 0.1),
        inset 0 0 4px rgba(0, 0, 0, 0.5);
}

@mixin corner-boxes {
    border-style: solid;
    border-image-outset: 0;
    border-width: 9px 9px 9px 9px;
    border-image: url('../assets/sheet/corner-box.png') 9 9 9 9 round round;
}

@mixin text-gold {
    background: url('../assets/sheet/gold.jpg');
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin p-reset {
    margin: 0;
    padding: 0;
}

@mixin animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@mixin animate-infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@mixin wobble {
    @include animate;
    -webkit-animation-name: wobble;
    animation-name: wobble;
}

@mixin scrollbar {
    overflow: hidden scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) transparent;
}
