<div class="sidebar_title">
    <h2>Difficulty checks</h2>
    <h2 class="hover" data-tooltip-content="#dc-modifiers">view Modifiers</h2>
</div>

<ol class="difficulty-checks">
    <li>
        <div class="data-value">
            <h2>12</h2>
        </div>
        <div class="label">
            <h4>Class</h4>
        </div>
    </li>
    <li>
        <div class="data-value">
            <h2>12</h2>
        </div>
        <div class="label">
            <h4>Spell</h4>
        </div>
    </li>
    <li>
        <div class="data-value">
            <h2>12</h2>
        </div>
        <div class="label">
            <h4>Percep.</h4>
        </div>
    </li>
</ol>

<div class="hover-content" id="initiative-modifiers">
    <div class="items">
        <div class="sidebar_title">
            <h2>Class Modifiers</h2>
            <a href="#">+ Add Modifier</a>
        </div>
     <!--    <ul>
            <li>
                <div class="item">
                    <input class="tag" type="text" name="tag" placeholder="feat">
                    <input class="label" type="text" name="label" placeholder="Battlefield Surveyor">
                </div>

                <input class="data" type="number" name="data-value" placeholder="2">
            </li>
            <li>
                <div class="item">
                    <input class="tag" type="text" name="tag" placeholder="item">
                    <input class="label" type="text" name="label" placeholder="Potion of Clarity">
                </div>

                <input class="data" type="number" name="data-value" placeholder="4">
            </li>
        </ul> -->
    </div>
    <div class="items">
        <div class="sidebar_title">
            <h2>Spell Modifiers</h2>
            <a href="#">+ Add Modifier</a>
        </div>
        <!-- <ul>
            <li>
                <div class="item">
                    <input class="tag" type="text" name="tag" placeholder="item">
                    <input class="label" type="text" name="label" placeholder="Sword of Foresight">
                </div>

                <input class="data" type="number" name="data-value" placeholder="2">
            </li>
            <li>
                <li>
                    <div class="item">
                        <input class="tag" type="text" name="tag" placeholder="skill">
                        <input class="label" type="text" name="label" placeholder="Odin's Eye">
                    </div>
    
                    <input class="data" type="number" name="data-value" placeholder="8">
                </li>
            </li>
        </ul> -->
    </div>
    <div class="items">
        <div class="sidebar_title">
            <h2>Perception Modifiers</h2>
            <a href="#">+ Add Modifier</a>
        </div>
        <!-- <ul>
            <li>
                <div class="item">
                    <input class="tag" type="text" name="tag" placeholder="item">
                    <input class="label" type="text" name="label" placeholder="Sword of Foresight">
                </div>

                <input class="data" type="number" name="data-value" placeholder="2">
            </li>
            <li>
                <li>
                    <div class="item">
                        <input class="tag" type="text" name="tag" placeholder="skill">
                        <input class="label" type="text" name="label" placeholder="Odin's Eye">
                    </div>
    
                    <input class="data" type="number" name="data-value" placeholder="8">
                </li>
            </li>
        </ul> -->
    </div>
</div>